<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://forum.keel.today">
          <span class="icon">
            <svg height="512px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x39_2-discourse"><g><path d="M257.865,36.001c-120.409,0-221.863,96.74-221.863,216.17c0,3.829,0.098,223.828,0.098,223.828    l221.766-0.197c120.509,0,218.133-100.47,218.133-219.898S378.374,36.001,257.865,36.001z" style="fill:#231F20;"/><g><g><path d="M352.162,239.08c-0.084,1.92-0.215,3.83-0.384,5.722c-5.15-51.51-48.177-91.697-100.52-91.697      c-55.81,0-101.035,45.694-101.035,102.074c0,17.626,4.42,34.212,12.156,48.654l-14.573,48.214l-12.504,23.516l9.113-77.583      c-8.466-15.847-13.299-34.063-13.299-53.411c0-61.897,49.507-112.068,110.588-112.068c29.483,0,56.277,11.688,76.095,30.747      c-14.507-6.528-30.503-10.143-47.323-10.143c-0.131,0-0.271,0-0.403,0c0.759,0.14,1.508,0.29,2.258,0.431      c0.009,0.009,0.019,0.009,0.019,0.009c38.333,7.849,68.902,37.022,78.755,74.587C351.638,231.728,351.984,235.38,352.162,239.08      z" style="fill:#F15C22;"/><path d="M337.121,174.261c-6.059-4.262-12.531-7.96-19.321-11.014      c-19.817-19.059-46.611-30.747-76.095-30.747c-61.081,0-110.588,50.171-110.588,112.068c0,19.349,4.833,37.564,13.299,53.411      l-9.113,77.833l-3.25-19.313l-9.009-64.646c-9.337-17.327-14.676-37.229-14.676-58.385c0-67.666,54.602-122.511,121.958-122.511      C276.312,110.959,316.349,136.518,337.121,174.261z" style="fill:#E51B24;"/></g><g><path d="M344.612,170c33.851,23.771,56.101,64.03,56.101,109.7c0,73.08-56.971,132.3-127.271,132.3      c-19.28,0-37.68-4.45-54.08-12.5l-84.019-23.813l0.07-0.07l78.828,1.272c15.37,7.33,32.601,11.38,50.66,11.38      c65.851,0,119.21-53.92,119.21-120.439c0-31.87-12.25-60.85-32.26-82.39C349.763,180.11,347.343,174.96,344.612,170z" style="fill:#00AEEF;"/><path d="M363.133,255.49c0-7.75-0.801-15.31-2.33-22.61c-0.04-16.739-3.21-32.739-8.95-47.439      c20.01,21.54,32.26,50.52,32.26,82.39c0,66.52-53.359,120.439-119.21,120.439c-18.06,0-35.29-4.05-50.66-11.38l-78.828-1.272      l57.769-17.047c11.66,3.5,24.01,5.399,36.74,5.46c3.54,0.38,7.12,0.609,10.729,0.67c4.03,0.46,8.13,0.689,12.271,0.689      c2.899,0,5.77-0.12,8.609-0.35c0.811-0.06,1.62-0.13,2.42-0.21C319.622,359.47,363.133,312.58,363.133,255.49z" style="fill:#00A950;"/></g><path d="M360.803,232.88c-0.38-1.81-0.8-3.6-1.271-5.37c-3.09-21.39-11.779-40.939-24.5-57.069     c6.07,4.46,11.7,9.479,16.82,15C357.593,200.141,360.763,216.141,360.803,232.88z" style="fill:#00A950;"/><path d="M344.612,170c2.73,4.96,5.15,10.11,7.24,15.44c-5.12-5.521-10.75-10.54-16.82-15     c-3.399-4.33-7.1-8.41-11.06-12.21c7.25,3.26,14.16,7.21,20.63,11.76L344.612,170z" style="fill:#00AEEF;"/><path d="M359.532,227.51c-10.52-40.109-43.16-71.26-84.09-79.64c22.16,1.96,42.58,10.04,59.59,22.57     C347.753,186.57,356.442,206.12,359.532,227.51z" style="fill:#00A950;"/><path d="M323.973,158.23c3.96,3.8,7.66,7.88,11.06,12.21c-17.01-12.53-37.43-20.61-59.59-22.57     c0,0-0.01,0-0.02-0.01c-0.801-0.15-1.601-0.311-2.41-0.46c0.14,0,0.29,0,0.43,0C291.402,147.4,308.482,151.26,323.973,158.23z" style="fill:#00AEEF;"/><path d="M253.272,365.35c2.78,0,5.53-0.1,8.26-0.31c-2.84,0.229-5.71,0.35-8.609,0.35     c-4.141,0-8.24-0.229-12.271-0.689c0.24,0.01,0.47,0.01,0.7,0.01C245.272,365.13,249.253,365.35,253.272,365.35z" style="fill:#00A950;"/><path d="M241.353,364.71c-0.23,0-0.46,0-0.7-0.01c-1.8-0.21-3.6-0.46-5.38-0.76c0.09,0,0.19,0,0.29-0.011     C237.473,364.25,239.402,364.5,241.353,364.71z" style="fill:#00A950;"/><path d="M235.272,363.94c1.78,0.3,3.58,0.55,5.38,0.76c-3.609-0.061-7.189-0.29-10.729-0.67     c0.22,0,0.43,0,0.649,0C232.143,364.03,233.713,364,235.272,363.94z" style="fill:#00A950;"/><path d="M235.563,363.93c-0.1,0.011-0.2,0.011-0.29,0.011c-4.1-0.681-8.14-1.591-12.08-2.74     C227.223,362.34,231.353,363.26,235.563,363.93z" style="fill:#00A950;"/><path d="M235.272,363.94c-1.56,0.06-3.13,0.09-4.7,0.09c-0.22,0-0.43,0-0.649,0     c-10.32-1.12-20.261-3.59-29.62-7.25l6.62-1.65c4.3,2.021,8.77,3.76,13.359,5.19c0.021,0.01,0.04,0.02,0.05,0.02     c0.95,0.3,1.9,0.59,2.86,0.86C227.133,362.35,231.173,363.26,235.272,363.94z" style="fill:#00A950;"/><path d="M220.332,360.34c0.95,0.3,1.9,0.58,2.86,0.86C222.232,360.93,221.282,360.64,220.332,360.34z" style="fill:#00A950;"/><path d="M200.303,356.78c9.359,3.66,19.3,6.13,29.62,7.25c-12.73-0.061-25.08-1.96-36.74-5.46     L200.303,356.78z" style="fill:#00A950;"/><path d="M206.582,354.97c0.11,0.05,0.23,0.11,0.341,0.16l-6.62,1.65c-0.141-0.05-0.28-0.101-0.41-0.15     L206.582,354.97z" style="fill:#00A950;"/><path d="M200.303,356.78l-7.12,1.79c-0.17-0.051-0.33-0.101-0.5-0.16l7.21-1.78     C200.022,356.68,200.162,356.73,200.303,356.78z" style="fill:#00A950;"/><path d="M193.183,358.57l-54.46,13.63l0.14-0.45l53.82-13.34     C192.853,358.47,193.013,358.52,193.183,358.57z" style="fill:#00A950;"/><path d="M253.021,368.678c-16.859,0-32.938-3.778-47.277-10.625l-70.479,17.65l19.9-65.854     c-8.518-15.895-13.383-34.157-13.383-53.562c0-62.078,49.796-112.389,111.238-112.389c61.44,0,111.236,50.311,111.236,112.389     C364.258,318.367,314.462,368.678,253.021,368.678z" style="fill:#F0EA89;"/></g></g></g><g id="Layer_1"/></svg>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
